.slider_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.arrow_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.arrow_btn.visible {
    opacity: 1;
}
.arrow_btn.next {
    right: 10px;
}
.arrow_btn.prev {
    left: 10px;
}
.slick-slide {
    display: flex;
    justify-content: center;
    padding: 0 5px;
}
.slider_container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

/* Line */

.slider_container-line {
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.slider_line-title {
    font-size: var(--size-22);
    font-weight: var(--semi-bold);
    color: var(--color-dark);
    margin-bottom: 30px;
    margin-top: 40px;
}
.card_product-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    border-right: 1px solid var(--color-bockground-grey);
}
.image_card-line {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}
.title_card-line {
    text-align: center;
    margin-top: 20px;
    font-size: var(--size-14);
    font-weight: var(--medium);
    color: var(--color-dark);
}

/* Line View */

.last-viewed-products {
    margin-top: 40px;
}
.last-viewed-products h2 {
    font-size: var(--size-22);
    font-weight: var(--semi-bold);
    margin-bottom: 30px;
}
.product_cards-view {
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.product_card {
    position: relative;
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-bockground-grey);
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    text-align: center;
}
.product_card-img {
    width: 140px;
    height: 140px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    object-fit: contain;
}
.product_card-title {
    text-align: start;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--size-14);
    font-weight: var(--medium);
    color: var(--color-dark);
}
.product_price-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.old_price {
    text-decoration: line-through;
    font-size: var(--size-12);
    color: var(--color-bockground-grey);
    margin-bottom: 10px;
}
.product_card-price {
    font-size: var(--size-18);
    color: var(--color-dark);
    font-weight: var(--medium);
}


/* Top Rec Int Slider */

.slider-container {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    width: 100%;
}
.slider-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.slider-header h2 {
    font-size: var(--size-22);
    font-weight: var(--semi-bold);
    color: var(--color-dark);
    margin-bottom: 30px;
}
.arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
.prev-arrow,
.next-arrow {
    padding: 5px 15px;
    border: 1px solid var(--color-bockground-grey);
    border-radius: 5px;
    cursor: pointer;
}
.slider-card {
    position: relative;
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-bockground-grey);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.slider-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 40px;
    object-fit: contain;
}
.card_slider-title {
    text-align: start;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--size-14);
    font-weight: var(--medium);
    color: var(--color-dark);
}
.card_slider-price {
    text-align: start;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--size-16);
    font-weight: var(--medium);
    color: var(--color-dark);
}
.slick-track {
    display: flex !important;
}
.slick-slide {
    padding: 0 5px;
    box-sizing: border-box;
}
.slick-list {
    margin: 0 -5px;
}
.promo_label {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: var(--size-12);
    font-weight: var(--medium);
    color: var(--color-white);
}

.promo_label.action {
    background-color: red;
}
.promo_label.top-sale {
    background-color: orange;
}
.promo_label.hit {
    background-color: orange;
}
.promo_label.new {
    background-color: green;
}